# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
9
/node_modules
topic0_food
topic1_hotel
topic2_courses
/.pnp
.pnp.js
templates
static
admin
custom_admin
myproject
*.ipynb
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pkl
*.h5
*.txt
*.csv
*.jpg
*.png
*.zip
*.rar
*.gz
*.bin
resturant
fittness
coffee
